<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Feature</th>
          <th>Path</th>
          <th>Parameter</th>
          <th>Response</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active">
          <td>Index</td>
          <td>/</td>
          <td>N/A</td>
          <td>This help page</td>
        </tr>
        <tr class="success">
          <td>Request Detail</td>
          <td>/$any</td>
          <td>pretty(optional)</td>
          <td></td>
        </tr>
        <tr class="info">
          <td>Return Code</td>
          <td>/code/$code</td>
          <td>return code</td>
          <td>Return the HTTP status code</td>
        </tr>
        <tr class="warning">
          <td>Random Redirect</td>
          <td>/random</td>
          <td></td>
          <td>Return the 302 redirect with random url</td>
        </tr>
        <tr class="danger">
          <td>UA</td>
          <td>/ua</td>
          <td>pretty(optional)</td>
          <td>Return the user agent info</td>
        </tr>
        <tr class="active">
          <td>Geo location</td>
          <td>/geoip</td>
          <td>pretty(optional)</td>
          <td>Return the geolocation info</td>
        </tr>
        <tr class="success">
          <td>DBIP</td>
          <td>/dbip</td>
          <td>pretty(optional)</td>
          <td>DBIP geolocation info</td>
        </tr>
        <tr class="info">
          <td>ipinfo</td>
          <td>/ipinfo</td>
          <td>pretty(optional)</td>
          <td>ipinfo geolocation data</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
